*.a
*.o
/nexus-*
/db
/test
*~
*.o
*.lo
*.obj
*.exe
*.dylib
*.so
*.a
*.la
*.la-*
*.in
*.pc
.dirstamp
.deps
.libs
.DS_Store
aclocal.m4
Makefile
Makefile.in
confdefs.h
conftest.*
/configure
/autom4te.cache
/depcomp
/config.h
/config.status
/config.cache
/config.log
/install-sh
/missing
/compile
stamp-h*
/test-driver
/config.sub
/config.guess
/libtool
/ltmain.sh
